[user]
    email = jmesquita@sangoma.com
    name = Joao Mesquita
[status]
    submoduleSummary = true
[diff]
    submodule = log
[fetch]
    recurseSubmodules = true
[filter "lfs"]
    required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[color]
	diff = auto
	status = auto
[push]
	default = simple
